

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.clo-g {
  color: #009900 !important;
}

.clo-9 {
  color: #999999 !important;
}

a {
  color: inherit !important;
  display: block;
}

//公共样式
.el-message i {
  font-size: 0.18rem;
}

.common_box {
  background-color: #fff;
  padding: 0.1rem;
  margin-bottom: 0.1rem;
}

.content {
  padding-top: 0.43rem;

  /deep/ .van-field__label {
    text-align: left;
  }
}

.bottom_fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

.navigation {
  position: fixed;
  top: 0.41rem;
  color: #999999;
  width: 100%;
  z-index: 9;

  ul {
    background-color: #fff;
    border-bottom: 1px solid #f2f2f2;

    li {
      float: left;
      border-bottom: 1px solid rgba(0, 0, 0, 0);
      width: 20%;
      padding: 0.18rem 0;
      font-size: 0.16rem;
    }

    li.active {
      color: #009900;
      border-bottom: 2px solid #009900;
    }
  }
}
.common_btn{
  line-height: 0.4rem;
  background-color: #009900;
  color: #fff;
  border-radius: 3px;
  border: none;
}
//多选框修改样式
.mycheck {
  /deep/ .el-checkbox__inner {
    border-radius: 50%;
    width: 0.2rem;
    height: 0.2rem;
    background: none;
  }

  /deep/ .el-checkbox__inner::after {
    height: 0.11rem;
    left: 6px;
    width: 5px;
  }

  /deep/ .el-checkbox__input.is-checked .el-checkbox__inner, /deep/ .el-radio__input.is-checked .el-radio__inner {
    background-color: #009900;
    border-color: #009900;
  }

  /deep/ .el-checkbox__inner:hover, /deep/ .el-radio__inner:hover {
    border-color: #009900;
  }

  /deep/ .el-checkbox__input.is-checked + .el-checkbox__label, /deep/ .el-radio__input.is-checked + .el-radio__label {
    color: inherit;
  }
}

/* 商品列表  */

.list {
  padding: 0 0.1rem 0.1rem 0.1rem;

  .goodslist {
    text-align: left;
    background-color: #f9f9f9;
    margin: 0 -0.1rem;
    padding: 0.1rem 0.1rem 0 0.1rem;
    font-size: 0.12rem;

    .el-col {
      padding-bottom: 0.1rem;
      padding-right: 0.1rem;
    }

    .el-col:nth-child(2n) {
      padding-left: 5px !important;
      padding-right: 0 !important;
    }

    .el-col:nth-child(2n+1) {
      padding-right: 5px !important;
    }

    .item {
      border-radius: 5px;
      background-color: #fff;

      div {
        padding: 5px;
        .goodsdtt{
          overflow:hidden;
          text-overflow:ellipsis;
          display:-webkit-box;
          -webkit-box-orient:vertical;
          -webkit-line-clamp:2;
          padding: 0;
          height: 0.34rem;
        }
      }
    }
  }
}

.top_name {
  font-size: 0.18rem;
  padding: 0.1rem 0;text-align: left;
  .text_rich{
    font-size: 0.12rem;
    color: #999;
  }
}

@media only screen and (max-width: 768px) {
  .el-col-5 {
    width: 20%
  }

}

// 字体换行
.fontWrap{
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
}
.fontWrapOne{
  -webkit-line-clamp:1;
}
.fontWrapTwo{
  -webkit-line-clamp:2;
}
